body {
	font-family: 'Bitter', serif;
	background-color: #000;
}

p, h1, h2, h3, h4, h5 {
	font-family: 'Bitter', serif;
	color: #FFF;
}

h1 {
	text-align: center;
}

h3 a:link, h3 a:visited {
	color: #FFF;
	text-decoration: none;
  -webkit-transition:500ms ease;
  -moz-transition:500ms ease;
  -o-transition:500ms ease;
  transition:500ms ease;
}

h3 a:hover {
	color: #8E8E8E;
	text_decoration: none;
	-webkit-transition:500ms ease;
  -moz-transition:500ms ease;
  -o-transition:500ms ease;
  transition:500ms ease;
}
